<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tengyu.ZDERP.Winform.Properties.Settings.COMSConnectionString"
            connectionString="Data Source=(local);Initial Catalog=COMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>